*{
  background-color: rgb(15,54,94);

}

body {
  margin: 3rem;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  color: lawngreen;

}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/background.png');
  background-size: cover;
  border-radius: 20px;
  font-family:'Courier New', Courier, monospace;


  

}

header.h1{
  

}

h2{
  text-align: center;
  font-family:'Courier New', Courier, monospace;

}

h1, h2 {
  padding: 0.6rem 1em;
  
  
}

li:hover {
  background-color: lawngreen;
  color:  rgb(132,17,252);
  border-radius: 40%;

}

.boards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  
}


.boards__list {
  max-height: 20rem;
  overflow-y: auto;
  margin-right: 2rem;
  /* border: black solid 1px; */
  font-family:'Courier New', Courier, monospace;
  /* border: 2px solid lawngreen; */
  padding: 10px;
  margin-left: 20px;
  font-size: x-large;
}



.new-board-form__container,
.new-card-form__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background: linear-gradient(to top,  rgb(182, 49, 231), rgb(37, 187, 206) ); */
  font-family:'Courier New', Courier, monospace;

}

.new-board-form__form,
.new-card-form__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 75%;
  border: solid rgb(125, 189, 23);
  padding: 30px;
  margin-left: 25px;
  

}

.new-board-form__form input,
.new-card-form__form input{
  color: white;
  background: linear-gradient(to bottom,  rgb(15,54,94), rgb(141, 51, 238));
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;


}

.submit_board{
  margin-top: 20px;
  padding: 10px;
  border-radius: 40px;

}

.selected_board{
  text-align: center;
  font-family:'Courier New', Courier, monospace;


}

.gif_image{
  margin-left: 70px;
}
.cards__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card-items__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 2rem;
}

.card-item {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  /* background: linear-gradient(to bottom,  rgb(163, 244, 23), rgb(191, 171, 212)); */
  background-color: rgb(152, 235, 100);
  border-radius: 10px;
  font-family:'Courier New', Courier, monospace;

  
}

.card-item__controls {
  list-style-type: none;
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-evenly;
  border-radius: 20px;


}

.card-item__message {
  text-align: center;
  font-size: 1.4rem;
  word-break: break-word;

}

.card_message{
  border-radius: 10px;
  padding: 20px;

}

.card-item__delete{
  margin-top: 5px;

}

.submit_card{
  margin-top: 20px;
  padding: 10px;
  font-family:'Courier New', Courier, monospace;

}

.submit_board{
  font-family:'Courier New', Courier, monospace;

}

.submit_board:hover{
  background-color: lawngreen;
  
}


.delete{
  font-size: x-large;
 
}

.like_count, .like_add{
  margin-top: 7px;
  border-radius: 50px;
  background-color: aquamarine;
  font-size: large;


}

.like_add{
  font-size: xx-large;
}