body {
  margin: 3rem;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

h1, h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 0.6rem 1em;
  display: inline-block;
  color: black;
}

.boards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.boards__list {
  max-height: 9rem;
  min-height: 9rem;
  overflow: scroll;
  margin-right: 2rem;
  border: black solid 1px;
}